
:root{
  --white: #FFFFFF;
  --dark: #253340;
  --principal: #DF2543;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  outline: none;
  transition: .1s;
}
