.bg {
  min-height: 100vh;
  background-image: url('/assets/bg.png');
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 80%;
}

.logo {
  display: block;
  height: 51px;
}

.title,
.subtitle {
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  font-size: 75px;
  line-height: 89px;
  max-width: 1000px;
}

.title,
.description,
.subtitle,
.subdescription {
  text-align: center;
}

.subtitle {
  font: normal normal 300 38px/44px Manrope;
  letter-spacing: 4.45px;
}


.description,
.subdescription {
  letter-spacing: 2.11px;
  color: var(--white);
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.11px;
}

.subdescription{
  font: normal normal 300 15px/21px Manrope;
  letter-spacing: 0.38px;
  max-width: 700px;
}

.button {
  background: transparent;
  width: 71px;
  height: 71px;
  display: block;
  border: 3px solid var(--white);
  cursor: pointer;
  position: relative;
}

.button img {
  position: absolute;
  height: 17px;
  width: 17px;
  top: calc(50% - 17px / 2);
  left: calc(50% - 17px / 2);
}

.button:hover{
  background: var(--white);
}

.button:hover img {
  filter: invert(100%);
}

.social {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.social a {
  background: var(--white);
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.social a img {
  height: 20px;
}

.social a:hover {
  background: var(--principal);
}

.social a:hover img {
  filter: invert(100%);
}


@media (max-width: 700px){
  .bg {
    background-size: cover !important;
  }
  .logo{
    height: 30px;
  }

  .title {
    font-size: 35px;
    line-height: 45px;
  }

  .subtitle{
    font-size: 28px;
    line-height: 32px;
  }

  .button {
    width: 50px;
    height: 50px;
  }
}